.main {
  background: #fbfdff;
  grid-area: main;
  overflow-y: auto;

}

.main__container {
  padding: 20px 35px;
  position: absolute;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title>img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting {
  display: flex;
}


.button-3 {
  appearance: none;
  background-color: #ee551a;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 3px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 2px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 15px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #812500;
}

.button-3:focus {
  box-shadow: rgba(199, 126, 16, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #ed8a63;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #ee551a;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.main__greeting>h2 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 45px;
}

.text-primary-p {
  font-size: 14px;
}

.main__greeint>p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: 10px 0;
}

.main__cards__types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  padding: 15px;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ;
}

.card-inner>span {
  font-size: 25px;
}

.inputFilter {
  display: block;
}

.group {
  position: relative;
  margin-top: 15px;
  display: flex;
}

.inputlayer {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  display: block;
  width: 300px;
  border: 0.5px solid rgb(231, 231, 231);
  border-bottom: 1px solid black;
  height: 15px;
  border-radius: 1%;
}



input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 2px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}


.bar {
  position: relative;
  display: block;
  width: 300px;
}


.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


.barMap {
  position: relative;
  display: block;
  width: 300px;
}


.barMap:before,
.barMap:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}





:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}


.select {
  background-color: var(--darkgray);
  color: white;
  height: 2em;
}


.selectCadastrar {
  background-color: var(--darkgray);
  color: white;
  height: 2em;
  width: 100px;
}


.includegroup {
  position: relative;
  margin-top: 20px;
}

.formcadastro {
  margin-left: 1%;
}


.tableForm {
  display: flex;
}

.optionsFormCadastro {
  display: flex;
  align-items: center;
}